In [1]:
import pandas as pd
import numpy as np

In [2]:
data_path = "D:\\University\\DataScienceWorkshop\\"

In [3]:
train = pd.read_csv(data_path + "train_sample.csv", usecols=['ad_id','clicked'])

In [16]:
#1.compute ad click frequency by aggregating it's total count and sum clicks on train table
#2.normalize result to avoid corner cases distortion
#3.drop unused columns
ad_strength = train.groupby('ad_id').clicked.agg(['count','sum']).reset_index()
ad_strength['strength'] = (ad_strength['sum'] + 12 * train.clicked.mean()) / (12 + ad_likelihood['count'])
ad_strength.drop(['count', 'sum'], axis=1, inplace=True)
ad_strength.describe()

               ad_id       strength
count  128782.000000  128782.000000
mean   197071.183597       0.184574
std    106920.552553       0.063218
min         1.000000       0.007939
25%    107683.750000       0.154599
50%    203793.500000       0.178383
75%    289930.500000       0.205666
max    378604.000000       0.760514

In [17]:
promoted.drop('document_id', axis = 1, inplace = True)

In [18]:
promoted

          ad_id  category_id
0             1         1209
1             1         1708
2             2         1505
3             2         1405
4             3         1209
5             3         1203
6             4         1205
7             4         1610
8             5         1608
9             5         1203
10            6         1513
11            6         1514
12            7         1209
13            7         1205
14            8         1611
15            8         1610
16            9         1513
17            9         1808
18           10         1505
19           10         1809
20           11         1604
21           11         1209
22           12         1506
23           12         1505
24         5183         1506
25         5183         1505
26           13         1503
27           13         1505
28       118163         1503
29       118163         1505
...         ...          ...
1115239  572221         2003
1115240  572221         1100
1115241  572222         2003
1115242  572222         1306
1115243  572223         1408
1115244  572223         1210
1115245  572308         1706
1115246  572308         2100
1115247  572342         1210
1115248  572342         1708
1115249  572447         1804
1115250  572447         1602
1115251  572519         2003
1115252  572519         1405
1115253  572520         1702
1115254  572520         1703
1115255  572594         1602
1115256  572594         1405
1115257  572668         1100
1115258  572668         1306
1115259  572745         1403
1115260  572745         1203
1115261  572868         1510
1115262  572868         1403
1115263  572968         1702
1115264  572968         2004
1115265  573016         1702
1115266  573016         1100
1115267  573081         2003
1115268  573081         2006

[1115269 rows x 2 columns]

In [19]:
train = pd.read_csv("D:\\University\\DataScienceWorkshop\\clicks_train.csv")

In [ ]:
#add number of ads on display
train_ad_count_per_display = train.groupby(['display_id'])['display_id'].agg({'ads_on_doc' : 'count'}).reset_index()
train = train.merge(train_ad_count_per_display, how = 'left', on = 'display_id')
del train_ad_count_per_display

In [21]:
del categories